@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import '_sub1.scss';

* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article {
  &.section1 {
    width: 800px;
    margin: 10px auto;
    font: {
      size: 14px;
      family: 'Nanum Gothic', sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 50px;
      th, td {
        padding: 12px 8px;
        text-align: center;
        border: 1px solid rgba($black, 0.4);
      }
      th {
        background-color: rgba($bgcolor, 0.8);
        color: $white;
        border: {
          top: 2px solid $black;
          bottom: 2px solid $black;
        }
      }
      td {
        &:nth-child(2) {
          text-align: left;
          padding-left: 15px;
        }
      }
      tr {
        transition: all .4s;
        &:hover {
          background: rgba($bgcolor, 0.6);
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}

#main {
  $width: 10px !global; // 전역변수
  border: $width solid red;
  $main_color: #fff;
  background-color: $main_color;
  width: $main-width;
}
#sidebar {
  width: $width * 50;
  display: $in_b;
}
#content {
  width: 500px;
  width: $width;
  display: $in-b;
}
#sidebar2 {
  width: ($main_width/10);
  height: 50px;
  border: 1px solid opacify($red50, 0.1);
  background-color: transparentize($red50, 0.3);
  color: white;
}

p:before {
  content: "Foo " + Bar;
  font-family: sans- + "serif";
}

p.#{$name} {
  #{$attr}-color:blue;
}

p {
  $font-size: 12px;
  $line-height: 30px;
  font: #{$font-size}/#{$line-height};
}

/* 어렵군 */